<form #form="ngForm" name="form" (ngSubmit)="submit()">
    <p-accordion *ngIf="user?.hasRole(systemRoles.Admin)">
        <p-accordionTab header="Volunteer list">
            <ul *ngIf="volunteers.length > 0">
                <li *ngFor="let v of volunteers">
                    {{ v.FirstName }} {{ v.LastName }} ({{ v.Email }})
                </li>
            </ul>

            <p *ngIf="volunteers.length === 0">No volunteers for this event.</p>
        </p-accordionTab>
    </p-accordion>

    <div class="row">
        <div class="col-12 form-group">
            <label for="title">Title</label>
            <input type="text" class="form-control" id="title" name="title" [(ngModel)]="event.title" required #title="ngModel"[disabled]="!user?.hasRole(systemRoles.Admin)" />
            <div [hidden]="!showTitleMessage" class="form-error">Event title is required.</div>
        </div>
    </div>

    <div class="row col-12 form-group">
        <label for="title">Description</label>
        <div class="col-12" *ngIf="user?.hasRole(systemRoles.Admin)">
            <p-editor id="description" name="description" [(ngModel)]="event.description" required #description="ngModel" [style]="{'height': '320px'}"></p-editor>
        </div>
        <div class="col-12" *ngIf="!user?.hasRole(systemRoles.Admin)">
            <p disabled [innerHtml]="event.description"></p>
        </div>
    </div>

    <div class="mb-2 form-check">
        <input type="checkbox" class="form-check-input" id="allDay" name="allDay" [(ngModel)]="event.allDay" #allDay="ngModel" [disabled]="!user?.hasRole(systemRoles.Admin)" />
        <label for="allDay" class="form-check-label">All day event?</label>
    </div>

    <div class="row">
        <div class="col-12">
            <label for="start">Start Date</label>
        </div>
        <div class="col-12 mb-2">
            <p-calendar
                id="start"
                name="start"
                [required]="true"
                [(ngModel)]="event.start"
                [showTime]="!event.allDay"
                hourFormat="12"
                [touchUI]="helper.isMobile()"
                [disabled]="!user?.hasRole(systemRoles.Admin)"
                #start="ngModel"
            ></p-calendar>
            <div [hidden]="!showStartMessage" class="form-error">Start date is required.</div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <label for="start">End Date</label>
        </div>
        <div class="col-12 mb-2">
            <p-calendar
                id="end"
                name="end"
                [required]="true"
                [(ngModel)]="event.end"
                [showTime]="!event.allDay"
                hourFormat="12"
                [touchUI]="helper.isMobile()"
                [disabled]="!user?.hasRole(systemRoles.Admin)"
                #end="ngModel"
            ></p-calendar>
            <div [hidden]="!showEndMessage" class="form-error">End date is required.</div>
        </div>
    </div>

    <div class="row">
        <div class="col-12 form-group">
            <label for="location">Location</label>
            <input type="text" class="form-control" id="location" name="location" [(ngModel)]="event.location" required #location="ngModel" [disabled]="!user?.hasRole(systemRoles.Admin)" />
        </div>
    </div>

    <div class="row">
        <div class="col-12 form-group">
            <ng-container *ngIf="user?.hasRole(systemRoles.Admin)">
                <button class="btn btn-p22" type="submit">Submit</button>
                <button class="btn btn-p22 float-right ml-2" type="button" (click)="deleteEvent()">Delete</button>
            </ng-container>
            <button class="btn btn-p22 float-right" type="button" (click)="volunteer()">Volunteer</button>
        </div>
    </div>
</form>