<div class="px-4 p-4">
	<div class="container">
        <ng-container *ngIf="user">
            <button class="btn btn-p22" (click)="createThread()">Create new thread</button>
        </ng-container>
        <a class="p22-link" routerLink="/forums" style="display: block;">
            <i class="fa fa-arrow-left" style="color: hsl(2, 83%, 58%) !important"></i> Back to forums
        </a>
        <p-table [value]="threads">
            <ng-template pTemplate="header">
                <tr>
                    <th>Thread</th>
                    <th>Posts</th>
                    <th>Last Post</th>
                    <ng-container *ngIf="user">
                        <th>&nbsp;</th>
                    </ng-container>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-thread>
                <tr class="thread" [class.closed]="thread.IsClosed">
                    <div (click)="openThreads(forum.BoardId)">
                        <td>{{ thread.ThreadName }} <i class="fa fa-lock" style="display: none;"></i></td>
                        <td>{{ thread.PostCount }}</td>
                        <td>
                            <ng-container *ngIf="thread.LastPostDate !== null">
                                {{ getPostDate(thread) }}
                                <br>
                                by {{ thread.LastPostAuthor }}
                            </ng-container>
                            <ng-container *ngIf="thread.LastPostDate === null">
                                No Posts
                            </ng-container>
                        </td>
                    </div>
                    <ng-container *ngIf="user">
                        <td>
                            <ng-container *ngIf="user.hasRole([systemRoles.Admin, systemRoles.Moderator])">
                                <button class="btn btn-info mr-2" (click)="editThread(thread)"><i class="fa fa-edit"></i></button>
                                <button class="btn btn-danger" (click)="deleteThread(thread.ThreadId)"><i class="fa fa-times"></i></button>
                            </ng-container>
                        </td>
                    </ng-container>
                </tr>
            </ng-template>
        </p-table>
	</div>
</div>