.carousel-item > img {
    height: 250px;
    width: 100%;
    object-fit: cover;
    margin: auto;
}

.carousel-caption {
    text-shadow: 0 0 4px black;
}

.carousel-control-prev svg,
.carousel-control-next svg {
    font-size: 2.2rem;
}

.jumbotron {
    background-color: white;
    margin: 0;
    padding-bottom: 3rem;
}

#home-info {
    background-color: hsl(0, 0%, 10%);
    color: white;
    padding-top: 30px;
    padding-bottom: 20px;
}

@media (min-width: 640px) {
    .carousel-item > img {
        height: 300px;
    }
}

@media (min-width: 768px) {
    .carousel-item > img {
        height: 325px;
    }
}

@media (min-width: 992px) {
    .carousel-item > img {
        height: 350px;
    }
}

@media (min-width: 1200px) {
    .carousel-item > img {
        height: 400px;
    }
}