.post-header {
    background: hsl(0, 0%, 95%);
}

.post-content > p > p:last-child {
    margin: 0;
}

.post-action {
    cursor: pointer;
    padding: 10px;
}

.post-action-edit {
    color: hsl(188, 78%, 41%);
    font-size: 0.9rem;
}

.post-action-warn {
    color: hsl(45, 100%, 51%);
    font-size: 0.9rem;
}

.post-action-delete {
    color: red;
}

@media (max-width: 576px) {
    .post-author p:last-child {
        border-bottom: 1px solid hsl(0, 0%, 83%);
    }
}