<div class="main">
  <app-nav></app-nav>
  
  <div class="content">
    <router-outlet></router-outlet>
  </div>

  <div class="container-fluid socials">
    <div class="container text-center">
      <button class="btn btn-danger">
        <a href="https://www.facebook.com/Prevent-22-Veterans-100535335071697" target="_blank" rel="noreferrer">
          <i class="fa fa-facebook"></i>
        </a>
      </button>
    </div>
  </div>

	<footer class="container-fluid">
		<div class="container text-center">
			Copyright &copy; {{ date }} by Prevent 22 Veterans 501(c)(19). All rights reserved.
		</div>
	</footer>
</div>
