<div class="main"
    style="background-image: url('assets/images/flag-at-sunset-cropped.jpg'); background-size: cover; background-position: center;">
    <div class="container-fluid">
        <div class="row align-items-center justify-content-center" [style.height.px]="windowHeight">
            <div class="col-12 col-sm-8 col-lg-6">
                <div class="card">
                    <div class="card-body">
                        <form #form="ngForm" name="form" (ngSubmit)="submit(form)">
                            <div class="row">
                                <div class="col-12 form-group">
                                    <label for="newPassword">New Password</label>
                                    <input
                                        type="password"
                                        class="form-control"
                                        id="newPassword"
                                        name="newPassword"
                                        [(ngModel)]="model.newPassword"
                                        required
                                        appPasswordValidator
                                        #newPassword="ngModel" />
                                    <div [hidden]="(newPassword.valid || newPassword.pristine) && !showNewPasswordError" style="color: red;">Password is required</div>
                                    <div [hidden]="newPassword.valid || newPassword.pristine" style="color: red;">{{newPassword.control.errors?.length}}</div>
                                    <div [hidden]="newPassword.valid || newPassword.pristine" style="color: red;">{{newPassword.control.errors?.lowercase}}</div>
                                    <div [hidden]="newPassword.valid || newPassword.pristine" style="color: red;">{{newPassword.control.errors?.uppercase}}</div>
                                    <div [hidden]="newPassword.valid || newPassword.pristine" style="color: red;">{{newPassword.control.errors?.number}}</div>
                                    <div [hidden]="newPassword.valid || newPassword.pristine" style="color: red;">{{newPassword.control.errors?.special}}</div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-12 form-group">
                                    <label for="newPasswordVerify">Verify New Password</label>
                                    <input
                                        type="password"
                                        class="form-control"
                                        id="newPasswordVerify"
                                        name="newPasswordVerify"
                                        [(ngModel)]="model.newPasswordVerify"
                                        required
                                        appPasswordValidator
                                        #newPasswordVerify="ngModel" />
                                    <div [hidden]="model.newPassword === model.newPasswordVerify" style="color: red;">Passwords must match</div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-12 form-group">
                                    <button class="btn btn-p22" type="submit" [disabled]="!form.valid || model.newPassword !== model.newPasswordVerify">Submit</button>
                                </div>
                            </div>

                            <p>New around here? <a routerLink="/auth/register" class="p22-link">Create an account</a>.</p>
                            
                            <p><a routerLink="/auth/login" class="p22-link">Or login here</a>.</p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>