@font-face {
    font-family: 'Rajdhani';
    src: url('./assets/fonts/Rajdhani-Regular.ttf'), url('./assets/fonts/Rajdhani-Bold.ttf')
}

html, body {
    font-family: 'Rajdhani', sans-serif;
    -webkit-font-smoothing: antialiased;
}

a.p22-link {
    color: #ed3f39 !important;
    font-weight: bold;
}

a.p22-link > i,
a.p22-link > svg {
    color: black;
}

.btn-p22 {
    color: #fff;
    background-color: hsl(354, 70%, 54%);
    border-color: hsl(354, 70%, 54%);
}

.btn-p22:hover {
    color: white;
    background-color: hsl(354, 70%, 46%);
    border-color: hsl(354, 70%, 44%);
}

.form-error {
    color: red;
}
